/* GENERICS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: black;
  color: white;
}

/* UTILS */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex.wrap {
  flex-wrap: wrap;
}

/* STRUCTURE */

/* HEADER */
header {
  height: 50px;
  width: 100%;
  text-align: right;
  line-height: 35px;
  position: fixed;
}

header span {
  background-color: #5c5c5c;
  padding: 3px 4px;
  border-radius: 3px;
  margin: 5px 3px;
}

/* PADDING HEADER */
header + * {
  padding-top: 50px;
}

/* PADDING FOOTER */
main + * {
  padding-bottom: 80px;
}

/* FOOTER */
footer {
  background-color: #8297ad;
  height: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

.section {
  align-items: center;
}

.section > div {
  margin: 12px 12px;
}

.icon {
  font-size: 30px;
  text-align: center;
}

.description {
  font-size: 16px;
}

.section .arrow {
  margin-left: 0;
}

/* SECOND SECTION */
#share {
  color: rgb(38, 218, 38);
}

/* THIRD SECTION */
footer .section:last-child {
  background-color: grey;
  color: red;
}
